*{
    margin: 0%;
    padding: 0%;
    outline: 0%;
}
body{
    font-family: 'Oswald', sans-serif;
}
.container{
    width: 80%;
    margin: auto;
}
section{
    margin-bottom: 100px;
}
/* top section css start  */
#top{
    background: url(images/donation2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.overlay{
    background: rgba(0,0,0,0.6);
    padding: 200px;
}
.top-heading{
    text-align: center;
    color: white;
}
.top-heading h1{
    font-size: 45px;
}
.top-heading p{
    margin-bottom: 20px;
}
.top-btn{
    text-decoration: none;
    padding: 10px 40px;
    background-color: #ff5959;
    border-radius: 5px;
    color: white;
    font-size: 20px;
}
/* top section css end  */

/* donate today css part start  */
.donate-heading{
    text-align: center;
}
.donate-heading h1{
    font-size: 45px;
}
.donate-heading p{
    color:#707070;
    margin-bottom: 50px;
}
.box{
    background-color:#fafafa;
    height: 150px;
    width: 170px;
    margin-left: 20px;
    border-radius: 5px;
    text-align: center;
    line-height:150px;
    font-size: 30px;
    border: 3px solid white;
    color: #707070;
    transition: all linear .5s;
    margin-bottom: 50px;
}
.box1{
    margin-left: 0;
}
.box:hover{
    background-color:#ffeeee;
    border: 3px solid #ff5959;
    color:#ff5959;
    transition: all linear .5s;
}
.flex{
    display: flex;
}
.donate-bottom h3{
    text-align: center;
    color: #bcbcbc;
    margin-bottom: 25px;
}
.border{
    height: 2px;
    width: 100%;
    background-color: #dadada;
    margin-bottom: 40px;
}
.donate-btn{
    text-align: center;
}
.donate-btn a{
    text-decoration: none;
    padding: 10px 40px;
    background-color: #ff5959;
    border-radius: 5px;
    color: white;
    font-size: 20px;
}
/* donate today css part end  */

/* donate plan css part start  */
.flex-copy{
    display: flex;
}
.copy1{
    background-color: #edf5f6;
    height: 210px;
    width: 230px;
    border-radius: 10px;
    padding: 20px;
}
.copy1 img{
    margin-top: 15px;
}
.copy1 h3{
    margin-top: 5px;
    margin-bottom: 15px;
}
.copy1 p{
    color: #707070;
}
.copy2{
    background-color: #ffeeee;
    margin: 0 30px;
}
.copy3{
    background-color: #fff4d6;
}
/* donate plan css part end  */
